<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kj.ebff.mapper.UserWithRoleMapper">
    <resultMap type="cn.kj.ebff.domain.UserWithRole" id="resultMap">
        <id property="id" column="id" />
        <result property="user_id" column="user_id" />
        <result property="role_id" column="role_id" />
        <result property="user_name" column="user_name" />
        <result property="role_name" column="role_name" />
    </resultMap>

    <select id="findRoleByUserId" resultMap="resultMap" parameterType="java.lang.Long">
        select  ar.id as id,
                a.id as user_id,
                a.name as user_name,
                r.id as role_id,
                r.name as role_name
        from account a, role r, account_role ar
        where r.id = ar.role_id
        and   a.id = ar.account_id
        and   ar.account_id = #{userId}
    </select>

</mapper>